[Unit]
Description = Example sender
Wants = network-online.target
After = local-fs.target network-online.target

[Service]
User = martin
WorkingDirectory = /home/martin/mpc_rbt_ws/src/mpc-rbt-student
ExecStart = /home/martin/mpc_rbt_ws/src/mpc-rbt-student/run_sender.sh
Restart = on-failure
RestartSec = 5
TimeoutStopSec = 5

[Install]
WantedBy = multi-user.target
